*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
h1{
    font-size: 50px;
    color: rgb(121, 126, 126);
    font-family: "Gill Sans", sans-serif;
}
 nav{
 text-align: right;
 font-family: "Gill Sans", sans-serif;
 }

.col-top{
    padding: 1em 1em;
    background:rgb(241, 228, 239);
}

.col-bottom{
    padding: 50px;
    background-image: url("background1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
}
body{
    background:rgb(226, 226, 217);
    font-size:16px;
}
.container{
    max-width: 94%;
    margin: 0 auto;
}
section{
    padding-top: 2em;
    display: flex;
}
.col-left{
    width: 20%;
    border-right: 4px solid rgb(184, 149, 179); 
    text-align: right;
    padding: 30px;
}
.col-right{
    width: 80%;
    padding-left: 30px;

}

/* header { */
    /* padding: 40px;
    background-image: url("background1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    /* width: 100%;
    color: #898199;
}
h1{
    text-align: left;
    background-color: rgb(241, 228, 239);
    padding: 20px 20px;
  position: absolute;
	
}
nav {
    display: flex;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
 }

nav a{
    margin-left: 7px;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    
  } */


/* .box {
    padding: 20px 10px;
    background-color: rgb(255, 255, 255);
    font-family: "Lucida Console", Courier, monospace;
     
  }


.surf{
    background-image: url("background3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Lucida Console", Courier, monospace;
    border: 5px solid rgb(219, 212, 212);
    border-radius: 5px;
    padding: 5px;
}
    


.led{
    background-image: url("background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Lucida Console", Courier, monospace;
    border: 5px solid rgb(219, 212, 212);
    border-radius: 5px;
    padding: 5px;
 }

.calculator{
    background-image: url("background5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Lucida Console", Courier, monospace;
    border: 5px solid rgb(219, 212, 212);
    border-radius: 5px;
    padding: 5px;
}

.pastel{
    background-image: url("background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Lucida Console", Courier, monospace;
    border: 5px solid rgb(219, 212, 212);
    border-radius: 5px;
    padding: 5px;
}

.run{
    background-image: url("background6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Lucida Console", Courier, monospace;
    border: 5px solid rgb(219, 212, 212);
    border-radius: 5px;
    padding: 5px;
}



.header h1 {
    
    font-size: 48px;
  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}



  .contact{
    display: flex;

    padding: 14px 20px;
    text-decoration: none;
   
    


    
  } */
    
/* @media screen and (max-width: 992px) {
      
      }
      
     
@media screen and (max-width: 768px) {
       
      }
      
    
@media screen and (max-width: 576px) {
       nav, .contact {
            flex-direction: column;
          }
      } */
       */