*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

h1{
    font-size: 50px;
    color: rgb(121, 126, 126);
    font-family: "Gill Sans", sans-serif;
    padding-top: 30px;
    margin: 5px 0;
    padding: 0;
}
nav {
   text-align: right;
   display: flex;
  
 
}
nav a {
   font-family: "Gill Sans", sans-serif;
   font-size: 21px;
   color: rgb(160, 121, 154);
   padding: 15px;
   
}


.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

h3 {
    font-family: "Gill Sans", sans-serif;  
    color:rgb(101, 91, 104);
    font-size: 27px;
    
}
.col-top{
  
    background:rgb(241, 228, 239);
    padding: 0px 10px;
   
}

.col-bottom{
    padding: 50px;
    background-image: url("background1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
}
body{
    background:rgb(226, 226, 217);
    font-size:16px;
}
.container{
    max-width: 94%;
    margin: 0 auto;
}

h2{
    color:rgb(160, 121, 154); 
    font-size: 35px;
}
section{
    padding-top: 2em;
    display: flex;
    font-family: "Gill Sans", sans-serif;
}
.col-left{
    width: 20%;
    border-right: 4px solid rgb(184, 149, 179); 
    text-align: right;
    padding: 30px;
}
.col-right{
    width: 80%;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;

}
.col-right > p {
    color: rgb(160, 121, 154);
    font-size: 25px;
}

.bottom-left {
    position: absolute;
    bottom:80px;
    left: 14px;
    color: rgb(29, 27, 27);
    background-color: rgb(219, 212, 212);;
    font-size:25px ;
}


.w-100{
    width: 100%;

}
.w-50{
    width: 50%;
}

.box{

    padding:0.5em ;
    position: relative;
    
}
.box > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border:5px solid  rgb(219, 212, 212);
}

#contact a{
padding: 20px;
font-size: 2em;
color: rgb(160, 121, 154);

 
}
#resume a{
    color: rgb(160, 121, 154);
    font-size: 30px;
    text-decoration: none;
}




  
@media screen and (max-width: 750px) {
    .w-50{
        width: 100%;
    }
    
    nav {
        flex-direction: column;
    }

   
}
      